{% extends 'LocationPlaceBundle::layout.html.twig' %}

{% block title %}{{title}}{% endblock%}

{% block description %}{{description}}{% endblock %}

{% block body %}
    
    <h1>{{title}}</h1>
    
    <p><strong>{{district.name}} {{ 'coordinates'|trans|lower }}:</strong> {{district.lat}} {{district.lng}}</p>
    {{ render(controller('LocationPlaceBundle:Place:search', {'map':map})) }}
    
    <h2>{{ 'geographic size'|trans }}</h2>
    
    <ul class='list-group'>
        <li class='list-group-item'>{{ 'object width'|trans }}:  <strong>{{coordinate.getDistance({'lat': district.latN, 'lng': district.lngW}, {'lat': district.latN, 'lng': district.lngE}, 'km')}} {{ 'km'|trans }}</strong></li>
        <li class='list-group-item'>{{ 'object length'|trans }}:  <strong>{{coordinate.getDistance({'lat': district.latN, 'lng': district.lngW}, {'lat': district.latS, 'lng': district.lngW}, 'km')}} {{ 'km'|trans }}</strong></li>
        <li class='list-group-item'>{{ 'diagonal'|trans }}:  <strong>{{coordinate.getDistance({'lat': district.latN, 'lng': district.lngW}, {'lat': district.latS, 'lng': district.lngE}, 'km')}} {{ 'km'|trans }}</strong></li>
    </ul>
    
    {% if cities|length %}
    
        <h2>{% trans %}cities{% endtrans %}</h2>

        <p>
            <ul class='list-group'>
            {% for city in cities %}
                <li class='list-group-item'>{{ city.name }}:
                <small><a href="{{ path('location_city_map', { 'id': city.id }) }}">{{ 'map'|trans|lower }}</a>, <a href="{{ path('location_city_weather', { 'id': city.id }) }}">{{ 'weather'|trans|lower }}</a></small>
                </li>
            {% endfor %}
            </ul>
        </p>
    
    {% endif %}

{% endblock %}


