{% extends 'LocationPlaceBundle::layout.html.twig' %}

{% block title %}{{title}}{% endblock%}

{% block description %}{{description}}{% endblock %}

{% block body %}
    
    <h1>{{title}}</h1>
    
    <p><strong>{{district.name}} {{ 'coordinates'|trans|lower }}:</strong> {{district.lat}} {{district.lng}}</p>
    {{ include('LocationPlaceBundle::Banner/top.html.twig') }}
    {{ google_map(map) }}
    
    {{ include('LocationPlaceBundle::Social/bookmarks.html.twig') }}
    
    <h2>{{ 'geographic size'|trans }}</h2>
    
    <ul>
        <li>{{ 'object width'|trans }}:  <strong>{{coordinate.getDistance({'lat': district.latN, 'lng': district.lngW}, {'lat': district.latN, 'lng': district.lngE}, 'km')}} {{ 'km'|trans }}</strong></li>
        <li>{{ 'object length'|trans }}:  <strong>{{coordinate.getDistance({'lat': district.latN, 'lng': district.lngW}, {'lat': district.latS, 'lng': district.lngW}, 'km')}} {{ 'km'|trans }}</strong></li>
        <li>{{ 'diagonal'|trans }}:  <strong>{{coordinate.getDistance({'lat': district.latN, 'lng': district.lngW}, {'lat': district.latS, 'lng': district.lngE}, 'km')}} {{ 'km'|trans }}</strong></li>
    </ul>
    
    {% if cities|length %}
    
        <h2>{% trans %}cities{% endtrans %}</h2>

        <p>
            <ul>
            {% for city in cities %}
                <li><a href="{{ path('location_city_map', { 'id': city.id }) }}">{{ city.name }}</a></li>
            {% endfor %}
            </ul>
        </p>
    
    {% endif %}

{% endblock %}


