{% extends 'LocationPlaceBundle::layout.html.twig' %}

{% block title %}{{title}}{% endblock%}

{% block description %}{{description}}{% endblock %}

{% block body %}
    
    <h1>{{title}}</h1>
    
    <p><strong>{{region.name}} {{ 'coordinates'|trans|lower }}:</strong>  {{region.lat}} {{region.lng}}</p>
    {{ include('LocationPlaceBundle::Banner/top.html.twig') }}
    {{ google_map(map) }}
    
    {{ include('LocationPlaceBundle::Social/bookmarks.html.twig') }}
    
    <h2>{{ 'geographic size'|trans }}</h2>
    
    <ul class='list-group'>
        <li class='list-group-item'>{{ 'object width'|trans }}:  <strong>{{coordinate.getDistance({'lat': region.latN, 'lng': region.lngW}, {'lat': region.latN, 'lng': region.lngE}, 'km')}} {{ 'km'|trans }}</strong></li>
        <li class='list-group-item'>{{ 'object length'|trans }}:  <strong>{{coordinate.getDistance({'lat': region.latN, 'lng': region.lngW}, {'lat': region.latS, 'lng': region.lngW}, 'km')}} {{ 'km'|trans }}</strong></li>
        <li class='list-group-item'>{{ 'diagonal'|trans }}:  <strong>{{coordinate.getDistance({'lat': region.latN, 'lng': region.lngW}, {'lat': region.latS, 'lng': region.lngE}, 'km')}} {{ 'km'|trans }}</strong></li>
    </ul>
    
    {% if districts|length %}
    
        <h2>{% trans %}districts{% endtrans %}</h2>

        <p>
            <ul class='list-group'>
            {% for district in districts %}
                <li class='list-group-item'><a href="{{ path('location_district_map', { 'id': district.id }) }}">{{ district.name }}</a></li>
            {% endfor %}
            </ul>
        </p>
    
    {% endif %}

{% endblock %}


