{% extends 'LocationPlaceBundle::layout.html.twig' %}

{% block title %}{{title}}{% endblock%}

{% block body %}
    
    <h1>{{title}}</h1>
    
    <p><strong>{{region.name}} {{ 'coordinates'|trans|lower }}:</strong>  {{region.lat}} {{region.lng}}<p>
    
    {{ google_map(map) }}
    
    {% if districts|length %}
    
        <h2>{% trans %}districts{% endtrans %}</h2>

        <p>
            <ul>
            {% for district in districts %}
                <li><a href="{{ path('location_district_map', { 'id': district.id }) }}">{{ district.name }}</a></li>
            {% endfor %}
            </ul>
        </p>
    
    {% endif %}

{% endblock %}


