{% extends 'LocationPlaceBundle::layout.html.twig' %}

{% block title %}{{title}}{% endblock%}

{% block description %}{{description}}{% endblock %}

{% block body %}
    
    <h1>{{title}}</h1>
    
    <p>{{city.name}} {{ 'coordinates_center'|trans|lower }}:  {{city.lat}} {{city.lng}}</p>
    
    {{ include('LocationPlaceBundle::Banner/top.html.twig') }}
    {{ google_map(map) }}
    
    {{ include('LocationPlaceBundle::Social/bookmarks.html.twig') }}
    
    <h2><a href="{{ path('location_city_weather', { 'id': city.id }) }}">{{city.name}} {{ 'weather forecast'|trans|lower }}</a></h2>
    
    <h2>{{ 'geographic size'|trans }}</h2>
    
    <ul class='list-group'>
        <li class='list-group-item'>{{ 'object width'|trans }}:  <strong>{{coordinate.getDistance({'lat': city.latN, 'lng': city.lngW}, {'lat': city.latN, 'lng': city.lngE}, 'km', 1)}} {{ 'km'|trans }}</strong></li>
        <li class='list-group-item'>{{ 'object length'|trans }}:  <strong>{{coordinate.getDistance({'lat': city.latN, 'lng': city.lngW}, {'lat': city.latS, 'lng': city.lngW}, 'km', 1)}} {{ 'km'|trans }}</strong></li>
        <li class='list-group-item'>{{ 'diagonal'|trans }}:  <strong>{{coordinate.getDistance({'lat': city.latN, 'lng': city.lngW}, {'lat': city.latS, 'lng': city.lngE}, 'km', 1)}} {{ 'km'|trans }}</strong></li>
    </ul>
    
    {% if places|length %}
    
        <h2>{% trans %}places{% endtrans %}</h2>

        <p>
            <ul class='list-group'>
            {% for place in places %}
                <li class='list-group-item'><a href="{{ path('location_place_map', { 'id': place.id }) }}">{{ place.name }}</a></li>
            {% endfor %}
            </ul>
        </p>
    
    {% endif %}
    
    {% if cities_nearest|length %}
    
        <h2>{% trans %}cities_nearest{% endtrans %}</h2>

        <p>
            <ul>
            {% for city_nearest in cities_nearest %}
                <li><a href="{{ path('location_city_map', { 'id': city_nearest.id }) }}">{{ city_nearest.name }}</a> ({{coordinate.getDistance({'lat': city.lat, 'lng': city.lng}, {'lat': city_nearest.lat, 'lng': city_nearest.lng}, 'km', 1)}} {{ 'km'|trans }})</li>
            {% endfor %}
            </ul>
        </p>
    
    {% endif %}

{% endblock %}


