{% extends 'LocationPlaceBundle::layout.html.twig' %}

{% block title %}{{title}}{% endblock%}

{% block description %}{{description}}{% endblock %}

{% block body %}
    
    <h1>{{title}}</h1>

    <p><strong>{{country.name}} {{ 'coordinates'|trans|lower }}:</strong> {{country.lat}} {{country.lng}}</p>
    {{ include('LocationPlaceBundle::Banner/top.html.twig') }}    
    {{ google_map(map) }}
    
    {{ include('LocationPlaceBundle::Social/bookmarks.html.twig') }}
    
    <h2>{{ 'geographic size'|trans }}</h2>
    
    <ul class='list-group'>
        <li class='list-group-item'>{{ 'object width'|trans }}:  <strong>{{coordinate.getDistance({'lat': country.latN, 'lng': country.lngW}, {'lat': country.latN, 'lng': country.lngE}, 'km')}} {{ 'km'|trans }}</strong></li>
        <li class='list-group-item'>{{ 'object length'|trans }}:  <strong>{{coordinate.getDistance({'lat': country.latN, 'lng': country.lngW}, {'lat': country.latS, 'lng': country.lngW}, 'km')}} {{ 'km'|trans }}</strong></li>
        <li class='list-group-item'>{{ 'diagonal'|trans }}:  <strong>{{coordinate.getDistance({'lat': country.latN, 'lng': country.lngW}, {'lat': country.latS, 'lng': country.lngE}, 'km')}} {{ 'km'|trans }}</strong></li>
    </ul>
    
    {% if regions|length %}
    
        <h2>{% trans %}regions{% endtrans %}</h2>

        <p>
            <ul class='list-group'>
            {% for region in regions %}
                <li class='list-group-item'><a href="{{ path('location_region_map', { 'id': region.id }) }}">{{ region.name }}</a></li>
            {% endfor %}
            </ul>
        </p>
    
    {% endif %}

{% endblock %}


